main{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #13072E;
}

.container{
    align-items: center;
    width: 90%; /* Ajuste a largura conforme necessário */
    height: auto;
    background-color: #13072E; 
    background-image: linear-gradient(62deg, #13072E 0%, #3f2182 100%);
    padding: 20px; /* Espaçamento interno dentro dos containers */
    box-sizing: border-box; /* Garante que a largura inclua padding e borda */
    border-radius: 20px;
    margin-top: 140px;
    margin-bottom: 100px;
}

.nav-bar{
    margin-left: 60px;
    margin-top: 2%;
}

.nav-bar img{
    width: 25%;
    height: 25%;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: -30px;
}

.nav-list {
    display: flex; /* Exibe os itens horizontalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
    margin-left: 46%;
    margin-top: -3.6%;
}

/* Estilizando os itens da lista */
.nav-list li {
    margin: 0 40px; /* Espaçamento entre os itens */
   
}

/* Estilizando os links */
.nav-list li a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: white;
    font-weight: bold;
    transition: color 0.3s; /* Transição suave na cor do texto */
}

/* Efeito de hover nos links */
.nav-list li a:hover {
    color: #b899fc; /* Altera a cor ao passar o mouse */
}

header{
    margin-bottom: 14%;
}

.Titulo{
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 24px;
    margin-left: 20%;
    margin-top: -40%;
    margin-bottom: 24%;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: -36%;
    margin-top: auto;
}

form input{
    width: 12%;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #b899fc;
    margin-bottom: 2%;
}

form input:hover{
    color: #b899fc; /* Altera a cor ao passar o mouse */
}

form label{
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}

form select{
    width: 14%;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #b899fc;
    margin-bottom: 2%;
}

form select:hover{
    color: #b899fc; /* Altera a cor ao passar o mouse */
}


button{
    width: 14%;
    height: 42px;
    background: #B3AAFF;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; /* Adiciona a propriedade para deixar o texto em negrito */
    margin-bottom: 12%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy{
    font-size: 16px;
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.copy a{
    color: white;
}

.copy a:hover{
    color: #b899fc;
}